<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.name, movie %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
